<h1 class="text-center">Edit <%= resource_name.to_s.humanize %></h1>
<hr>
<div class="Box">
<div class="">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field" style="padding-top: 20px;">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field" style="padding-top: 20px;">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field" style="padding-top: 20px;">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday, autofocus: true %>
  </div>

  <div class="field" style="padding-top: 20px;">
    <%= f.label :about %><br />
    <%= f.text_area :about, autofocus: true %>
  </div>

   <div class="field" style="padding-top: 20px;">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, autofocus: true %>
  </div>


  <div class="field" style="padding-top: 20px;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('devise.currently_waiting') %>: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field" style="padding-top: 20px;">
    <%= f.label :password %> <i>(<%= t('devise.leave_blank') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t('devise.characters_minimum') %></em>
    <% end %>
  </div>

  <div class="field" style="padding-top: 20px;">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field" style="padding-top: 20px;">
    <%= f.label :current_password %> <i>(<%= t('devise.current_password_to_confirm') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions" style="padding-top: 10px;">
    <button type="submit" class="btn btn-outline-dark"><%= t('devise.edit') %></button>
  </div>
<% end %>
<hr>
<h3><%= t('devise.cancel_my_account') %></h3>

<p><%= t('devise.unhappy') %> <%= button_to t('devise.cancel_my_account'), registration_path(resource_name), data: { confirm: t('devise.are_you_sure') }, method: :delete, class:"btn btn-outline-dark", style:"Text-decoration: none" %></p>

<%= link_to t('common.back'), articles_path, class:"btn btn-outline-dark", style:"Text-decoration: none;" %>
</div>
</div>