<div class="Box">
<%= form_for @article do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errors') %></h2>
      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :audio %>
    <%= f.file_field :audio %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: true} %>
  </div>

  <div class="actions" style="padding-top: 10px;">
    <button type="submit" class="btn btn-outline-dark"><%= t('.submit', action: @article.new_record? ? 'Создати' : 'Змінити') %></button>
  </div>
  <%= link_to t('common.back'), articles_path, class:"btn btn-outline-dark", style:"Text-decoration: none" %>
<% end %>
</div>