<%= form_with(model: article, local: true) do |form| %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder:"Enter title" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, placeholder:"Enter body" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :audio %>
    <%= form.file_field :audio %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-outline-dark">Submit</button>
  </div>
<% end %>
