<h1 class="text-center">Articles Board</h1>
<hr>
<p id="notice"><%= notice %></p>
<% @articles.each do |article| %>
<div class="Box">
    <p><h3><strong><%= link_to article.title, article %></h3></strong>
    <% if user_signed_in? && current_user == article.user %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <h6>Created <%= time_ago_in_words(article.created_at) %> ago</h6></p>
    <p><%= image_tag article.image(:thumb) if article.image? %></p>
    <div class= "conteiner"><h4><%= article.content %></h4></div>
    <h6><strong>Author : </strong><%= article.user.email %></h6>
    <%= article.get_upvotes.size %><%= image_tag("like.png", size: "30x30") %>
    <%= article.get_downvotes.size %><%= image_tag("dislike.png", size: "30x30") %>
</div>
<% end %>
