<p id="notice"><%= notice %></p>
<div class="Box">
  <h4><%= link_to avatar_for(@article.user, size: 25), current_user %>  <b><%= @article.user.email %></b></h4>
  <p>Created: <%= time_ago_in_words(@article.created_at) %> ago <% if user_signed_in? && current_user == @article.user %>
    <span class="btn btn-outline-dark"><%= link_to 'Edit', edit_article_path(@article) %></span>
    <span class="btn btn-outline-dark"><%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %></p>
        <b><h1><%= @article.title %></h1></b>
        <hr>
        <p><%= image_tag @article.image.url(:medium) if @article.image? %></p>
        <h3><%= @article.content %></h3>
        <p>
          <% if @article.audio? %>
          <script type="text/javascript">
            $(document).ready(function(){
              $("#jquery_jplayer_1").jPlayer({
                ready: function () {
                  $(this).jPlayer("setMedia", {
                    mp3: "<%= @article.audio.url %>" 
                  });
                },
                swfPath: "/js",
                supplied: "mp3"
              });
            });
          </script>
          <div id="jquery_jplayer_1"></div>
          <div id="jp_container_1">
            <a href="javascript:;" class="jp-play">Play</a>
            <a href="javascript:;" class="jp-pause">Pause</a>
            <div class="jp-current-time"></div>
          </div>
        </p>
        <% end %>
        <hr>
        <p>
          <div class="caption" style="text-align:left;">
            <%= link_to like_article_path(@article), class: "like", method: :put do %>
            <button type="button" class="btn btn-outline-dark" arial-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true" ></span> 
              <span class="badge"><%= image_tag("lik.png", size: "30x30") %>  <%= @article.get_upvotes.size %></span>
            </button>
            <% end %>
            <%= link_to dislike_article_path(@article), method: :put do %>
            <button type="button" class="btn btn-outline-dark" arial-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true" ></span>
              <span class="badge"><%= image_tag("dis.png", size: "30x30") %> <%= @article.get_downvotes.size %></span>
            </button>
            <% end %>
          </div>
        </p>
      </div>
      <%= render 'comments/comment' %>
      <span class="btn btn-outline-dark" style="margin-left:40px;"><%= link_to 'Back', articles_path %></span>