<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @article.image.url(:medium) %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>
<p>
<div class="caption" style="text-align:left;">
            <%= link_to like_article_path(@article), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" arial-label="Left Align">
            <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true" ></span> 
            <span class="badge"><%= @article.get_upvotes.size %></span>
            </button>
         <% end %>
         <%= link_to dislike_article_path(@article), method: :put do %>
         <button type="button" class="btn btn-info" arial-label="Left Align">
         <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true" ></span>
         <span class="badge"><%= @article.get_downvotes.size %></span>
         </button>
         <% end %>   
     </div>
</p>
<p>
<script type="text/javascript">
 $(document).ready(function(){
  $("#jquery_jplayer_1").jPlayer({
   ready: function () {
    $(this).jPlayer("setMedia", {
     mp3: "<%= @article.audio.url %>" 
    });
   },
   swfPath: "/js",
   supplied: "mp3"
  });
 });
</script>
<div id="jquery_jplayer_1"></div>
<div id="jp_container_1">
 <a href="javascript:;" class="jp-play">Play</a>
 <a href="javascript:;" class="jp-pause">Pause</a>
 <div class="jp-current-time"></div>
</div>
</p>
<p>
  <strong>Created</strong>
  <%= time_ago_in_words(@article.created_at) %> ago
</p>



<%= render 'comments/comment' %>

<%= link_to 'Back', articles_path %>
