<h1 class="text-center"><%= t('devise.resend_unlock_instructions') %></h1>
<hr>
<div class="Box">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions" style="padding-top: 10px;">
  	<button type="submit" class="btn btn-outline-dark"><%= t('devise.resend_unlock_instructions') %></button>
  </div>
<% end %>
<div style="padding-top: 10px;">
<%= render "devise/shared/links" %>
</div>
</div>