<h1 class="text-center">Resend unlock instructions</h1>
<hr>
<div class="Box">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
  	<button type="submit" class="btn btn-outline-dark">Resend unlock instructions</button>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>