  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= avatar_for(@user) %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <% if user_signed_in? %>
        <a class="edit-profile" href="<%= edit_user_registration_path %>">
          <button>Edit Profile</button>
        </a>
        <% end %>
      </div>
      <ul class="posts">
      	<h2 class="name"><%= @user.first_name %> <%= @user.last_name %></h2>
      	<li><strong>About me:</strong> <%= @user.about %></li><br>
        <li><strong>Email:</strong> <%= @user.email %></li><br>
        <li><strong>Birthday:</strong> <%= @user.birthday %></li>
      </ul>
      <strong>User articles:</strong> <br>
      <a class="website"><% @user_articles.each do |article| %>
        <hr>
      <p><%= image_tag article.image(:thumb) if article.image? %></p>
         <%=  link_to article.title, article_path(article)  %><br>
         <h4><%= article.content %></h4>
        <p><h6>Created <%= time_ago_in_words(article.created_at) %> ago</h6></p>
		  <% end %></a>
    </div>
  </div>
</div>
