<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p><h5><%= @user.email %></h5></p>
<p><%= @user.username %></p>
<p><h5>data narodzhennia:<%= @user.birthday %></h5></p>
<p><%= @user.about %></p>

<% @user_articles.each do |article| %>
   <%=  link_to article.title, article_path(article)  %>
<% end %>