<h1 class="text-center"><%= t('common.my_profile') %></h1>
<hr>
<div class="Box">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= avatar_for(@user) %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <% if user_signed_in? %>
        <%= link_to t('profile.edit'), edit_user_registration_path, class:"btn btn-outline-dark", style:"Text-decoration: none" %>
        <% end %>
      </div>
      <ul class="posts">
      	<h2 class="name"><%= @user.first_name %> <%= @user.last_name %></h2>
      	<li><strong><%= t('profile.about_me') %>:</strong> <%= @user.about %></li><br>
        <li><strong><%= t('profile.email') %>:</strong> <%= @user.email %></li><br>
        <li><strong><%= t('profile.birthday') %>:</strong> <%= @user.birthday %></li>
      </ul>
      <strong><%= t('profile.articles') %>:</strong> <br>
      <a class="website"><% @user_articles.each do |article| %>
        <hr>
         <%=  link_to article.title, article_path(article)  %><br>
		  <% end %></a>
    </div>
  </div>
</div>