<h1 class="text-center">Change your password</h1>
<hr>
<div class="Box">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, t('devise.send_me_reset') %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('devise.confirm_new_password') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-outline-dark"><%= t('devise.change_my_password') %></button>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>