<h1 class="text-center"><%= t('common.advanced_search') %></h1>
<hr>
<%= form_for @search, html: {class: "pure-form"} do |s| %>

	<div class="field">
		<%= s.label :keywords %><br>
		<%= s.text_field :keywords %>
	</div>

	<div class="field">
		<%= s.label :content %><br>
		<%= s.text_field :content %>
	</div>

	<div>
		<button class="btn btn-outline-dark" type="submit"><%= t('navbar.search') %></button>
	</div>
<% end %>
<%= link_to t('common.back'), articles_path, class:"btn btn-outline-dark", style:"Text-decoration: none;" %>
