<h1 class="text-center"><%= t('category.categories') %></h1>
<hr>
<div class="Box">
	<br>
<% if user_signed_in? %>
<%= link_to t('category.new_category'), new_category_path, class:"btn btn-outline-dark", style:"Text-decoration: none;" %>
<% end %>

<section id="categories">
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th><%= t('category.name') %> </th>
				<th><%= t('category.parent_category') %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @category.each_with_index do |category, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= category.name %></td>
				<td><%= category.parent.name if category.parent.present? %></td>
				<td>
					<%= link_to t('common.edit'), edit_category_path(category), class:"btn btn-outline-dark", style:"Text-decoration: none" %>
					<%= link_to t('common.delete'), category_path(category), method: :delete, data: { confirm: t('devise.are_you_sure') }, class:"btn btn-outline-dark", style:"Text-decoration: none" %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</section>
</div>