<h1 class="text-center"><%= t('devise.hello') %> <%= @resource.email %>!</h1>
<hr>
<div class="Box">
<p><%= t('devise.someone_has_requested') %></p>

<p><%= link_to t('devise.change_my_password'), edit_password_url(@resource, reset_password_token: @token), class:"btn btn-outline-dark", style:"Text-decoration: none" %></p>

<p><%= t('devise.if_you_didnt_requested') %></p>
<p><%= t('devise.your_password_wont_change') %>.</p>
</div>