<nav class="sticky-top position-sticky navbar navbar-expand-sm" style="background-color: #696969; border: 3px solid #D4D4D4;
            border-radius: 10px;
            box-shadow: 0 0 20px #A9A9A9;">
  <div class="col-sm-1">
	<h5><%= link_to 'Forum', root_path, class:"my-0 mr-md-auto font-weight-bold text-white", style:"Text-decoration: none" %></h5>
</div>



  <div class="col-sm-5 d-flex justify-content-center">
  <span class="navbar-text">  	
  	<%= link_to t('navbar.about'), about_path, class:"btn btn-outline-light", style:"Text-decoration: none" %>
  	<%= link_to t('navbar.articles_board'), articles_path, class:"btn btn-outline-light", style:"Text-decoration: none" %>
  	<% if user_signed_in? %>
    <%= link_to t('navbar.new_article'), new_article_path, class:"btn btn-outline-light", style:"Text-decoration: none" %>
    <%= link_to t('navbar.categories'), categories_path, class:"btn btn-outline-light", style:"Text-decoration: none" %>
  	<%= link_to t('devise.log_out'),  destroy_user_session_path, method: :delete, class:"btn btn-outline-light", style:"Text-decoration: none" %>
  	<% else %>
  	<%= link_to t('devise.log_in'), user_session_path, class:"btn btn-outline-light", style:"Text-decoration: none" %>
  	<% end %>
</div>
<div class="col-sm-4 d-flex flex-row-reverse">
  	<form class="form-inline my-2 my-lg-0">
      <% if user_signed_in? %>
      <%= link_to t('navbar.edit_user'), edit_user_registration_path, class:"btn btn-outline-light", style:"Text-decoration: none" %>&nbsp;&nbsp;
      <%= link_to avatar_for(current_user, size: 35), current_user %>
    <% end %>
  </form>
</div>
</nav>